{% extends 'base.html.twig' %}



{% block body %}
<div class="container my-5">
    <h1>Mon Panier</h1>
    <div class="row">
        <div class="col-md-8">
            List of Products
            {{ dump(cart) }}
        </div>
        <div class="col-md-4">
            structure cart
        </div>

    </div>
</div>
{% endblock %}
