<ul class="nav flex-column" style="background-color: #a2efff">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Shopping History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_addresses') }}">My Addresses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_modify_pwd') }}">Change my Password</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_logout' ) }}" class="nav-link " aria-disabled="true" >Disconnect</a>
    </li>
</ul>
