{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-2">
    <h1 class="mt-4">Members Space</h1>
    <h5 class="mb-4">Change The Password</h5>
    <div class="row">
        <div class="col-md-4">
            {% include 'account/_menu.html.twig' %}
        </div>
        <div class="col-md-8">
            {{form(modifypwd)}}
        </div>


    </div>

</div>
{% endblock %}