<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <style>
        .text-center {
            text-align: center;
        }

        body {
            font-family: Roboto, sans-serif;
        }
    </style>
</head>
<body>
<div class="text-center">
    <h3>Facture commande n°{{ order.id }}</h3>
</div>
<table>
    <tr>
        <td>
            <strong>La Boutique Française</strong><br>
            mon adresse,<br>
            code postal, ville. France.<br>
            email@laboutiquefrancaise.com
        </td>
        <td>DESTINATAIRE</td>
    </tr>
</table>

<h1>Example heading <span class="badge text-bg-secondary">New</span></h1>
</body>
</html>