# Ignore the build directory
/build/

# Ignore the cache and log directories
/var/cache/
/var/log/

# Ignore the .env file and .env.local which are local environment configuration
/.env
/.env.local
/.env.*.local
/.env.test.local
/.env.*.test

# Ignore the vendor directory
/vendor/

# Ignore IDE and editor-specific files
/.idea/
/*.iml
/.vscode/
/nbproject/
*.sublime-workspace

# Ignore node modules directory if you are using Node.js
/node_modules/

# Ignore compiled assets
/public/build/

# Ignore composer files
/composer.lock
/vendor/composer/

# Ignore PHPUnit result cache
.phpunit.result.cache

# Ignore other common files
.DS_Store
Thumbs.db

# Ignore Symfony Encore Webpack output
/public/build/
