{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5 ">
    <h1 class="mb-2">Register Form</h1>
{{form_start(RegisterForm)}}

    {{form_end(RegisterForm)}}

    <a href='/connexion' class="my-5">You already have an account? get connected already!</a>
<div>

{% endblock %}