{% extends 'base.html.twig' %}



{% block body %}
    <div class="container my-5">
        <h1>My Order</h1>

        {{ form(deliveryform) }}
        <br>
        choose your shipping method

    </div>

{% endblock %}

